
  <div class="row">
    <div class="from-travel col-sm-12 col-md-12 col-lg-6">
      <%= simple_form_for(@travel) do |f|%>
        <%= f.input :location%>
        <%= f.submit%>
      <%end%>
    </div>

    <div class="from-image-travel col-sm-12 col-md-12 col-lg-6">

    </div>

  </div>
