.show-travel {
  h1 {
    text-align: center;
    color: $orange;
    margin-top: 70px;
    border-bottom: 1px solid $orange;
  }
}
.align-cross {
  position: absolute;
}

#cross {
  border: none;
  margin-bottom: 0;
  position: relative;
  top: 23px;
  right: -117px;
  padding: 0;
}

.create {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  p {
    border: 0.1px solid black;
    border-radius: 7px;
    padding: 5px;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
}

.form-hotel {
  .input {
    border: 1px solid $orange;
    margin-bottom: -6px;
    height: 36px;
    background-color: white;
  }

  .btn-form {
    width: 100%;
    background-color: $orange;
    text-align: center;
    color: white;
    border-radius: 7px;
  }
}

.sum-up {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recap-price {
  h3 {
    font-family: $body-font;
    font-weight: bold;
    border-bottom: 0.2px solid black;
    margin-bottom: 15px;
  }

  .total-price {
    display: flex;
    justify-content: space-between;
  }
}

.total {
  display: flex;
  justify-content: space-between;
  border-top: 0.2px solid black;
  padding-top: 15px;
  font-weight: bold;
  p{
    margin: 0;
  }
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .create, .sum-up {
    height: 75vh;
  }

  .sum-up {
    margin-top: 15px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .create, .sum-up {
    height: 50vh;
  }

  .sum-up {
    margin-top: 15px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .create, .sum-up {
    height: 75vh;
  }
}


.hotel-title {
  color: $orange;
  border-top: 1px solid $orange;
  margin-top: 25px;
}


.hotels {
  display: flex;
  justify-content: center;
}


.information-travel {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px solid $orange;
  padding-bottom: 15px;
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
}

.btn-travel {
  color: black;
  opacity: 0.3;
  transition: 1s;
  &:hover {
    opacity: 1;
    transition: 1s;
  }
}
