<div class="home-banner">
  <h1>Make your own trip <span>and share it with the world</span></h1>
  <div class="discover">
    <%= link_to "Discover", travels_path, class:"btn-banner"%>
  </div>
  <div class="marker-img">
    <i class="fas fa-map-marker-alt"></i>
    <%= image_tag 'location_search.svg'%>
  </div>
</div>

<div class="container-banner">
  <h1>Hello</h1>
</div>
